# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# Log files
*.log

# Dependency directories
venv/
env/
myenv/
uploads/
myvenv/